.minicart{
  position: fixed;
  width: 300px;
  right: 0;
  top: 0;
  margin: 0;
  height: 100%;
  z-index: 999999;
  transform: translateX(100%);
  overflow: hidden;
  padding-bottom: 0;
  background: #fff;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  height: 100%;
  // justify-content: space-between;

  &--active{
    transform: translateX(0%);
  }

  .minicart__items {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black #ccc;
  
    
    &::-webkit-scrollbar {
      width: 3px;
      height: 3px; 
    }

    &::-webkit-scrollbar-track {
      background: #ccc;
      padding: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000;
    }
  
    ul{
      margin: 0;
      padding: 16px;
      .minicart__item{
        display: flex;
        gap: 16px;
    
        .minicart__item__img{
          width: 30%;
        }
    
        .minicart__item__info{
          width: 70%;
        }

        .minicart__item__quantity{
          display: flex;
          align-items: center;

          button{
            width: 40px;
            line-height: 20px;
            padding: 0 5px;
            margin: 0 8px;
          }
        }
      }
    }
  }
  
  .minicart__value{
    background: #ccc;
    line-height: 36px;
    padding: 8px;
  }

  .minicart__header{
    background-color: #19f;
    color: #fff;

    button{
      color: #fff;
    }
    .button__closed__minicart{
      background-color: transparent;
    }
  }

  .minicart__buy__button button{
    width: 100%;
    color: #fff;
  }
}

.overlay{
  background-color: rgba(0,0,0,.5);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  display: block;
  opacity: 1;
  transform: translateX(100%);
  z-index: 9;

  &--active{
    transform: translateX(0%);
  }
}